.form-main-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.form-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: row;
    align-items: center;
}